body {
    font-family:'arial';
    color:rgb(255, 255, 255);
    text-align: justify;
    background-color: rgb(86, 105, 189);
    }
    p {
    font-family: 'Calibri';
    color:rgb(0, 0, 0);
    text-align: justify;
    }
