body {
    font-family:'arial';
    color:rgb(0, 0, 0);
    text-align: justify;
    background-color: rgb(84, 91, 190);
    }
    p {
    font-family: 'Calibri';
    color:white;
    text-align: justify;
    }

